.img-circle-cropper {
    height: 100px;

    overflow: hidden;

    border-radius: 50%;
}

.img-circle-cropper > img {
    display: inline;

    height: 100%;
}

.link:hover {
    text-decoration: underline;
}

.nav-link {
    display: block;

    margin: 1em 1em;
}

.nav-link:hover {
    text-decoration: underline;
}
